In [1]:
import pandas as pd
import numpy as np

In [2]:
df_2018 = pd.read_csv('2018_data.csv')
df_2019 = pd.read_csv('2019_data.csv')
df_2020 = pd.read_csv('2020_data.csv')

In [3]:
old_data = pd.read_csv('final_data.csv')

In [4]:
df_2020.columns ==df_2018.columns

array([ True,  True,  True,  True,  True,  True,  True])

In [5]:
final_df = pd.concat([old_data,df_2018,df_2019,df_2020])

In [6]:
final_df.dropna(how='any',inplace=True)

In [7]:
final_df.duplicated().sum()

0

In [8]:
final_df.head()

,director_name,actor_1_name,actor_2_name,actor_3_name,genres,movie_title,comb
0,JoachimRønning,JohnnyDepp,JavierBardem,GeoffreyRush,"adventure,action,fantasy,comedy",Pirates of the Caribbean: Dead Men Tell No Tales,Johnny Depp Javier Bardem Geoffrey Rush Joachi...
1,ZackSnyder,BenAffleck,HenryCavill,GalGadot,"action,adventure,fantasy,science fiction",Justice League,Ben Affleck Henry Cavill Gal Gadot Zack Snyder...
2,TaikaWaititi,ChrisHemsworth,TomHiddleston,CateBlanchett,"action,adventure,fantasy,science fiction",Thor: Ragnarok,Chris Hemsworth Tom Hiddleston Cate Blanchett ...
3,JamesGunn,ChrisPratt,ZoeSaldana,DaveBautista,"action,adventure,comedy,science fiction",Guardians of the Galaxy Vol. 2,Chris Pratt Zoe Saldana Dave Bautista James Gu...
4,SeanMcNamara,PierceBrosnan,WilliamHurt,BenjaminWalker,"fantasy,action,adventure",The King's Daughter,Pierce Brosnan William Hurt Benjamin Walker Se...

In [9]:
final_df.to_csv('movies_data.csv',index=False)

In [10]:
final_df.shape

(1231, 7)