In [1]:
import pandas as pd
import numpy as np
import warnings
warnings.filterwarnings("ignore")

In [2]:
df1 = pd.read_csv('movie_metadata.csv')

In [3]:
df1.shape

(5043, 28)

In [4]:
df1.head(30)

,color,director_name,num_critic_for_reviews,duration,director_facebook_likes,actor_3_facebook_likes,actor_2_name,actor_1_facebook_likes,gross,genres,...,num_user_for_reviews,language,country,content_rating,budget,title_year,actor_2_facebook_likes,imdb_score,aspect_ratio,movie_facebook_likes
0,Color,James Cameron,723.0,178.0,0.0,855.0,Joel David Moore,1000.0,760505847.0,Action|Adventure|Fantasy|Sci-Fi,...,3054.0,English,USA,PG-13,237000000.0,2009.0,936.0,7.9,1.78,33000
1,Color,Gore Verbinski,302.0,169.0,563.0,1000.0,Orlando Bloom,40000.0,309404152.0,Action|Adventure|Fantasy,...,1238.0,English,USA,PG-13,300000000.0,2007.0,5000.0,7.1,2.35,0
2,Color,Sam Mendes,602.0,148.0,0.0,161.0,Rory Kinnear,11000.0,200074175.0,Action|Adventure|Thriller,...,994.0,English,UK,PG-13,245000000.0,2015.0,393.0,6.8,2.35,85000
3,Color,Christopher Nolan,813.0,164.0,22000.0,23000.0,Christian Bale,27000.0,448130642.0,Action|Thriller,...,2701.0,English,USA,PG-13,250000000.0,2012.0,23000.0,8.5,2.35,164000
4,NaN,Doug Walker,NaN,NaN,131.0,NaN,Rob Walker,131.0,NaN,Documentary,...,NaN,NaN,NaN,NaN,NaN,NaN,12.0,7.1,NaN,0
5,Color,Andrew Stanton,462.0,132.0,475.0,530.0,Samantha Morton,640.0,73058679.0,Action|Adventure|Sci-Fi,...,738.0,English,USA,PG-13,263700000.0,2012.0,632.0,6.6,2.35,24000
6,Color,Sam Raimi,392.0,156.0,0.0,4000.0,James Franco,24000.0,336530303.0,Action|Adventure|Romance,...,1902.0,English,USA,PG-13,258000000.0,2007.0,11000.0,6.2,2.35,0
7,Color,Nathan Greno,324.0,100.0,15.0,284.0,Donna Murphy,799.0,200807262.0,Adventure|Animation|Comedy|Family|Fantasy|Musi...,...,387.0,English,USA,PG,260000000.0,2010.0,553.0,7.8,1.85,29000
8,Color,Joss Whedon,635.0,141.0,0.0,19000.0,Robert Downey Jr.,26000.0,458991599.0,Action|Adventure|Sci-Fi,...,1117.0,English,USA,PG-13,250000000.0,2015.0,21000.0,7.5,2.35,118000
9,Color,David Yates,375.0,153.0,282.0,10000.0,Daniel Radcliffe,25000.0,301956980.0,Adventure|Family|Fantasy|Mystery,...,973.0,English,UK,PG,250000000.0,2009.0,11000.0,7.5,2.35,10000
10,Color,Zack Snyder,673.0,183.0,0.0,2000.0,Lauren Cohan,15000.0,330249062.0,Action|Adventure|Sci-Fi,...,3018.0,English,USA,PG-13,250000000.0,2016.0,4000.0,6.9,2.35,197000
11,Color,Bryan Singer,434.0,169.0,0.0,903.0,Marlon Brando,18000.0,200069408.0,Action|Adventure|Sci-Fi,...,2367.0,English,USA,PG-13,209000000.0,2006.0,10000.0,6.1,2.35,0
12,Color,Marc Forster,403.0,106.0,395.0,393.0,Mathieu Amalric,451.0,168368427.0,Action|Adventure,...,1243.0,English,UK,PG-13,200000000.0,2008.0,412.0,6.7,2.35,0
13,Color,Gore Verbinski,313.0,151.0,563.0,1000.0,Orlando Bloom,40000.0,423032628.0,Action|Adventure|Fantasy,...,1832.0,English,USA,PG-13,225000000.0,2006.0,5000.0,7.3,2.35,5000
14,Color,Gore Verbinski,450.0,150.0,563.0,1000.0,Ruth Wilson,40000.0,89289910.0,Action|Adventure|Western,...,711.0,English,USA,PG-13,215000000.0,2013.0,2000.0,6.5,2.35,48000
15,Color,Zack Snyder,733.0,143.0,0.0,748.0,Christopher Meloni,15000.0,291021565.0,Action|Adventure|Fantasy|Sci-Fi,...,2536.0,English,USA,PG-13,225000000.0,2013.0,3000.0,7.2,2.35,118000
16,Color,Andrew Adamson,258.0,150.0,80.0,201.0,Pierfrancesco Favino,22000.0,141614023.0,Action|Adventure|Family|Fantasy,...,438.0,English,USA,PG,225000000.0,2008.0,216.0,6.6,2.35,0
17,Color,Joss Whedon,703.0,173.0,0.0,19000.0,Robert Downey Jr.,26000.0,623279547.0,Action|Adventure|Sci-Fi,...,1722.0,English,USA,PG-13,220000000.0,2012.0,21000.0,8.1,1.85,123000
18,Color,Rob Marshall,448.0,136.0,252.0,1000.0,Sam Claflin,40000.0,241063875.0,Action|Adventure|Fantasy,...,484.0,English,USA,PG-13,250000000.0,2011.0,11000.0,6.7,2.35,58000
19,Color,Barry Sonnenfeld,451.0,106.0,188.0,718.0,Michael Stuhlbarg,10000.0,179020854.0,Action|Adventure|Comedy|Family|Fantasy|Sci-Fi,...,341.0,English,USA,PG-13,225000000.0,2012.0,816.0,6.8,1.85,40000
20,Color,Peter Jackson,422.0,164.0,0.0,773.0,Adam Brown,5000.0,255108370.0,Adventure|Fantasy,...,802.0,English,New Zealand,PG-13,250000000.0,2014.0,972.0,7.5,2.35,65000
21,Color,Marc Webb,599.0,153.0,464.0,963.0,Andrew Garfield,15000.0,262030663.0,Action|Adventure|Fantasy,...,1225.0,English,USA,PG-13,230000000.0,2012.0,10000.0,7.0,2.35,56000
22,Color,Ridley Scott,343.0,156.0,0.0,738.0,William Hurt,891.0,105219735.0,Action|Adventure|Drama|History,...,546.0,English,USA,PG-13,200000000.0,2010.0,882.0,6.7,2.35,17000
23,Color,Peter Jackson,509.0,186.0,0.0,773.0,Adam Brown,5000.0,258355354.0,Adventure|Fantasy,...,951.0,English,USA,PG-13,225000000.0,2013.0,972.0,7.9,2.35,83000
24,Color,Chris Weitz,251.0,113.0,129.0,1000.0,Eva Green,16000.0,70083519.0,Adventure|Family|Fantasy,...,666.0,English,USA,PG-13,180000000.0,2007.0,6000.0,6.1,2.35,0
25,Color,Peter Jackson,446.0,201.0,0.0,84.0,Thomas Kretschmann,6000.0,218051260.0,Action|Adventure|Drama|Romance,...,2618.0,English,New Zealand,PG-13,207000000.0,2005.0,919.0,7.2,2.35,0
26,Color,James Cameron,315.0,194.0,0.0,794.0,Kate Winslet,29000.0,658672302.0,Drama|Romance,...,2528.0,English,USA,PG-13,200000000.0,1997.0,14000.0,7.7,2.35,26000
27,Color,Anthony Russo,516.0,147.0,94.0,11000.0,Scarlett Johansson,21000.0,407197282.0,Action|Adventure|Sci-Fi,...,1022.0,English,USA,PG-13,250000000.0,2016.0,19000.0,8.2,2.35,72000
28,Color,Peter Berg,377.0,131.0,532.0,627.0,Alexander Skarsgård,14000.0,65173160.0,Action|Adventure|Sci-Fi|Thriller,...,751.0,English,USA,PG-13,209000000.0,2012.0,10000.0,5.9,2.35,44000
29,Color,Colin Trevorrow,644.0,124.0,365.0,1000.0,Judy Greer,3000.0,652177271.0,Action|Adventure|Sci-Fi|Thriller,...,1290.0,English,USA,PG-13,150000000.0,2015.0,2000.0,7.0,2.00,150000

In [5]:
df1.columns

Index(['color', 'director_name', 'num_critic_for_reviews', 'duration',
       'director_facebook_likes', 'actor_3_facebook_likes', 'actor_2_name',
       'actor_1_facebook_likes', 'gross', 'genres', 'actor_1_name',
       'movie_title', 'num_voted_users', 'cast_total_facebook_likes',
       'actor_3_name', 'facenumber_in_poster', 'plot_keywords',
       'movie_imdb_link', 'num_user_for_reviews', 'language', 'country',
       'content_rating', 'budget', 'title_year', 'actor_2_facebook_likes',
       'imdb_score', 'aspect_ratio', 'movie_facebook_likes'],
      dtype='object')

In [6]:
df1['plot_keywords']

0                  avatar|future|marine|native|paraplegic
1       goddess|marriage ceremony|marriage proposal|pi...
2                     bomb|espionage|sequel|spy|terrorist
3       deception|imprisonment|lawlessness|police offi...
4                                                     NaN
                              ...
5038               fraud|postal worker|prison|theft|trial
5039         cult|fbi|hideout|prison escape|serial killer
5040                                                  NaN
5041                                                  NaN
5042    actress name in title|crush|date|four word tit...
Name: plot_keywords, Length: 5043, dtype: object

In [7]:
#director_name
#actor_2_name
#actor_1_name
#actor_3_name
#imdb_score
#movie_title
#title_year
#plot_keywords
#genres
df = df1[['director_name','imdb_score','movie_title','title_year','genres','actor_1_name','actor_2_name','actor_3_name','plot_keywords']]

In [8]:
df.head()

,director_name,imdb_score,movie_title,title_year,genres,actor_1_name,actor_2_name,actor_3_name,plot_keywords
0,James Cameron,7.9,Avatar,2009.0,Action|Adventure|Fantasy|Sci-Fi,CCH Pounder,Joel David Moore,Wes Studi,avatar|future|marine|native|paraplegic
1,Gore Verbinski,7.1,Pirates of the Caribbean: At World's End,2007.0,Action|Adventure|Fantasy,Johnny Depp,Orlando Bloom,Jack Davenport,goddess|marriage ceremony|marriage proposal|pi...
2,Sam Mendes,6.8,Spectre,2015.0,Action|Adventure|Thriller,Christoph Waltz,Rory Kinnear,Stephanie Sigman,bomb|espionage|sequel|spy|terrorist
3,Christopher Nolan,8.5,The Dark Knight Rises,2012.0,Action|Thriller,Tom Hardy,Christian Bale,Joseph Gordon-Levitt,deception|imprisonment|lawlessness|police offi...
4,Doug Walker,7.1,Star Wars: Episode VII - The Force Awakens ...,NaN,Documentary,Doug Walker,Rob Walker,NaN,NaN

In [9]:
df.isnull().sum()

director_name    104
imdb_score         0
movie_title        0
title_year       108
genres             0
actor_1_name       7
actor_2_name      13
actor_3_name      23
plot_keywords    153
dtype: int64

In [10]:
df['director_name']= df['director_name'].replace(np.nan,'unknown')
df['actor_1_name']= df['actor_1_name'].replace(np.nan,'unknown')
df['actor_2_name']= df['actor_2_name'].replace(np.nan,'unknown')
df['actor_3_name']= df['actor_3_name'].replace(np.nan,'unknown')
df['plot_keywords']= df['plot_keywords'].replace(np.nan,'unknown')

In [11]:
df.isnull().sum()

director_name      0
imdb_score         0
movie_title        0
title_year       108
genres             0
actor_1_name       0
actor_2_name       0
actor_3_name       0
plot_keywords      0
dtype: int64

In [12]:
df['title_year'].max()

2016.0

In [13]:
df['title_year'].min()

1916.0

In [14]:
df.head()

,director_name,imdb_score,movie_title,title_year,genres,actor_1_name,actor_2_name,actor_3_name,plot_keywords
0,James Cameron,7.9,Avatar,2009.0,Action|Adventure|Fantasy|Sci-Fi,CCH Pounder,Joel David Moore,Wes Studi,avatar|future|marine|native|paraplegic
1,Gore Verbinski,7.1,Pirates of the Caribbean: At World's End,2007.0,Action|Adventure|Fantasy,Johnny Depp,Orlando Bloom,Jack Davenport,goddess|marriage ceremony|marriage proposal|pi...
2,Sam Mendes,6.8,Spectre,2015.0,Action|Adventure|Thriller,Christoph Waltz,Rory Kinnear,Stephanie Sigman,bomb|espionage|sequel|spy|terrorist
3,Christopher Nolan,8.5,The Dark Knight Rises,2012.0,Action|Thriller,Tom Hardy,Christian Bale,Joseph Gordon-Levitt,deception|imprisonment|lawlessness|police offi...
4,Doug Walker,7.1,Star Wars: Episode VII - The Force Awakens ...,NaN,Documentary,Doug Walker,Rob Walker,unknown,unknown

In [15]:
df['genres'] = df['genres'].str.split('|')
df['plot_keywords'] = df['plot_keywords'].str.split('|')

In [16]:
def convert(row):
    res = []
    for i in df['actor_1_name']:
        j = i.replace(' ', '')
        res.append(j)

    return res

In [17]:
df['genres'] = df['genres'].apply(lambda x:[i.replace(" ","") for i in x])
df['plot_keywords'] = df['plot_keywords'].apply(lambda x:[i.replace(" ","") for i in x])

In [18]:
director_name = []
for i in df['director_name']:
    director_name.append(i.replace(" ",""))

In [19]:
actor_1_name = []
for i in df['actor_1_name']:
    actor_1_name.append(i.replace(" ",""))

In [20]:
actor_2_name = []
for i in df['actor_2_name']:
    actor_2_name.append(i.replace(" ",""))

In [21]:
actor_3_name = []
for i in df['actor_3_name']:
    actor_3_name.append(i.replace(" ",""))

In [22]:
df['director_name'] = director_name
df['actor_1_name'] = actor_1_name
df['actor_2_name'] = actor_2_name
df['actor_3_name'] = actor_3_name

In [23]:
df['movie_title'] = df['movie_title'].str.strip()

In [24]:
df['movie_title'][0]

'Avatar'

In [25]:
df['imdb_score'].min()

1.6

In [26]:
# Function to convert  
def listToString(s): 
    
    # initialize an empty string
    str1 = "," 
    
    # return string  
    return (str1.join(s))

In [27]:
df['plot_keywords']= df['plot_keywords'].apply(listToString)
df['genres']= df['genres'].apply(listToString)

In [28]:
df['genres'] = df['genres'].str.lower()

In [29]:
df

,director_name,imdb_score,movie_title,title_year,genres,actor_1_name,actor_2_name,actor_3_name,plot_keywords
0,JamesCameron,7.9,Avatar,2009.0,"action,adventure,fantasy,sci-fi",CCHPounder,JoelDavidMoore,WesStudi,"avatar,future,marine,native,paraplegic"
1,GoreVerbinski,7.1,Pirates of the Caribbean: At World's End,2007.0,"action,adventure,fantasy",JohnnyDepp,OrlandoBloom,JackDavenport,"goddess,marriageceremony,marriageproposal,pira..."
2,SamMendes,6.8,Spectre,2015.0,"action,adventure,thriller",ChristophWaltz,RoryKinnear,StephanieSigman,"bomb,espionage,sequel,spy,terrorist"
3,ChristopherNolan,8.5,The Dark Knight Rises,2012.0,"action,thriller",TomHardy,ChristianBale,JosephGordon-Levitt,"deception,imprisonment,lawlessness,policeoffic..."
4,DougWalker,7.1,Star Wars: Episode VII - The Force Awakens,NaN,documentary,DougWalker,RobWalker,unknown,unknown
...,...,...,...,...,...,...,...,...,...
5038,ScottSmith,7.7,Signed Sealed Delivered,2013.0,"comedy,drama",EricMabius,DaphneZuniga,CrystalLowe,"fraud,postalworker,prison,theft,trial"
5039,unknown,7.5,The Following,NaN,"crime,drama,mystery,thriller",NatalieZea,ValorieCurry,SamUnderwood,"cult,fbi,hideout,prisonescape,serialkiller"
5040,BenjaminRoberds,6.3,A Plague So Pleasant,2013.0,"drama,horror,thriller",EvaBoehnke,MaxwellMoody,DavidChandler,unknown
5041,DanielHsia,6.3,Shanghai Calling,2012.0,"comedy,drama,romance",AlanRuck,DanielHenney,ElizaCoupe,unknown
5042,JonGunn,6.6,My Date with Drew,2004.0,documentary,JohnAugust,BrianHerzlinger,JonGunn,"actressnameintitle,crush,date,fourwordtitle,vi..."

In [30]:
 df['comb'] = df['actor_1_name'] + ' ' + df['actor_2_name'] + ' '+ df['actor_3_name']+' '+df['director_name']+' '+df['genres']+' '+df['plot_keywords']

In [31]:
df.shape

(5043, 10)

In [41]:
credits = pd.read_csv('credits.csv')

In [42]:
meta = pd.read_csv('movies_metadata.csv')

In [45]:
meta['release_date'] = pd.to_datetime(meta['release_date'], errors='coerce')

In [46]:
meta['year'] = meta['release_date'].dt.year

In [47]:
meta['year'].value_counts().sort_index()

1874.0       1
1878.0       1
1883.0       1
1887.0       1
1888.0       2
          ...
2015.0    1905
2016.0    1604
2017.0     532
2018.0       5
2020.0       1
Name: year, Length: 135, dtype: int64

In [48]:
new_meta = meta.loc[meta.year == 2017,['genres','id','title','year']]

In [49]:
new_meta['id'] = new_meta['id'].astype(int)

In [50]:
data = pd.merge(new_meta, credits, on='id')

In [51]:
data.shape

(531, 6)

In [115]:
#pd.set_option('display.max_columns', None)
#pd.set_option('display.max_rows', None)

In [53]:
# evaluates an expression node or a string containing a Python literal or container display
import ast
data['genres'] = data['genres'].map(lambda x: ast.literal_eval(x))
data['cast'] = data['cast'].map(lambda x: ast.literal_eval(x))
data['crew'] = data['crew'].map(lambda x: ast.literal_eval(x))

In [54]:
data.isnull().sum()

genres    0
id        0
title     0
year      0
cast      0
crew      0
dtype: int64

In [55]:
movies=data.copy()

In [56]:
movies.head()

,genres,id,title,year,cast,crew
0,"[{'id': 12, 'name': 'Adventure'}, {'id': 28, '...",166426,Pirates of the Caribbean: Dead Men Tell No Tales,2017.0,"[{'cast_id': 1, 'character': 'Captain Jack Spa...","[{'credit_id': '52fe4c9cc3a36847f8236a65', 'de..."
1,"[{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...",141052,Justice League,2017.0,"[{'cast_id': 2, 'character': 'Bruce Wayne / Ba...","[{'credit_id': '55ef66dbc3a3686f1700a52d', 'de..."
2,"[{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...",284053,Thor: Ragnarok,2017.0,"[{'cast_id': 0, 'character': 'Thor Odinson', '...","[{'credit_id': '56a93fa4c3a36872db001e7a', 'de..."
3,"[{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...",283995,Guardians of the Galaxy Vol. 2,2017.0,"[{'cast_id': 3, 'character': 'Peter Quill / St...","[{'credit_id': '59171547925141583c0315a6', 'de..."
4,"[{'id': 14, 'name': 'Fantasy'}, {'id': 28, 'na...",245842,The King's Daughter,2017.0,"[{'cast_id': 0, 'character': 'King Louis XIV',...","[{'credit_id': '5431de49c3a36825d300007e', 'de..."

In [57]:
def convert_genres(obj):
    genres = []
    for i in obj:
        genres.append(i['name'])
    return genres

In [58]:
movies['genres'] = movies['genres'].apply(convert_genres)

In [59]:
def convert_director(obj):
    director = []
    for i in obj:
        if i['job'] == 'Director':
            director.append(i['name'])
            break
    return director

In [60]:
movies['director'] = movies['crew'].apply(convert_director)

In [61]:
movies.head()

,genres,id,title,year,cast,crew,director
0,"[Adventure, Action, Fantasy, Comedy]",166426,Pirates of the Caribbean: Dead Men Tell No Tales,2017.0,"[{'cast_id': 1, 'character': 'Captain Jack Spa...","[{'credit_id': '52fe4c9cc3a36847f8236a65', 'de...",[Joachim Rønning]
1,"[Action, Adventure, Fantasy, Science Fiction]",141052,Justice League,2017.0,"[{'cast_id': 2, 'character': 'Bruce Wayne / Ba...","[{'credit_id': '55ef66dbc3a3686f1700a52d', 'de...",[Zack Snyder]
2,"[Action, Adventure, Fantasy, Science Fiction]",284053,Thor: Ragnarok,2017.0,"[{'cast_id': 0, 'character': 'Thor Odinson', '...","[{'credit_id': '56a93fa4c3a36872db001e7a', 'de...",[Taika Waititi]
3,"[Action, Adventure, Comedy, Science Fiction]",283995,Guardians of the Galaxy Vol. 2,2017.0,"[{'cast_id': 3, 'character': 'Peter Quill / St...","[{'credit_id': '59171547925141583c0315a6', 'de...",[James Gunn]
4,"[Fantasy, Action, Adventure]",245842,The King's Daughter,2017.0,"[{'cast_id': 0, 'character': 'King Louis XIV',...","[{'credit_id': '5431de49c3a36825d300007e', 'de...",[Sean McNamara]

In [62]:
def convert_cast(obj):
    cast = []
    counter =0
    for i in obj:
        if counter !=3:
            cast.append(i['name'])
            counter+=1
        else:
            break
    return cast

In [63]:
movies['actors'] = movies['cast'].apply(convert_cast)

In [64]:
movies.head(5)

,genres,id,title,year,cast,crew,director,actors
0,"[Adventure, Action, Fantasy, Comedy]",166426,Pirates of the Caribbean: Dead Men Tell No Tales,2017.0,"[{'cast_id': 1, 'character': 'Captain Jack Spa...","[{'credit_id': '52fe4c9cc3a36847f8236a65', 'de...",[Joachim Rønning],"[Johnny Depp, Javier Bardem, Geoffrey Rush]"
1,"[Action, Adventure, Fantasy, Science Fiction]",141052,Justice League,2017.0,"[{'cast_id': 2, 'character': 'Bruce Wayne / Ba...","[{'credit_id': '55ef66dbc3a3686f1700a52d', 'de...",[Zack Snyder],"[Ben Affleck, Henry Cavill, Gal Gadot]"
2,"[Action, Adventure, Fantasy, Science Fiction]",284053,Thor: Ragnarok,2017.0,"[{'cast_id': 0, 'character': 'Thor Odinson', '...","[{'credit_id': '56a93fa4c3a36872db001e7a', 'de...",[Taika Waititi],"[Chris Hemsworth, Tom Hiddleston, Cate Blanchett]"
3,"[Action, Adventure, Comedy, Science Fiction]",283995,Guardians of the Galaxy Vol. 2,2017.0,"[{'cast_id': 3, 'character': 'Peter Quill / St...","[{'credit_id': '59171547925141583c0315a6', 'de...",[James Gunn],"[Chris Pratt, Zoe Saldana, Dave Bautista]"
4,"[Fantasy, Action, Adventure]",245842,The King's Daughter,2017.0,"[{'cast_id': 0, 'character': 'King Louis XIV',...","[{'credit_id': '5431de49c3a36825d300007e', 'de...",[Sean McNamara],"[Pierce Brosnan, William Hurt, Benjamin Walker]"

In [65]:
def get_actor1(x):
    casts = []
    for i in x:
        casts.append(i.get('name'))
    if casts == []:
        return np.NaN
    else:
        return (casts[0])

In [66]:
movies['actor_1_name'] = movies['cast'].map(lambda x: get_actor1(x))

In [67]:
def get_actor2(x):
    casts = []
    for i in x:
        casts.append(i.get('name'))
    if casts == [] or len(casts)<=1:
        return np.NaN
    else:
        return (casts[1])

In [68]:
movies['actor_2_name'] = movies['cast'].map(lambda x: get_actor2(x))

In [69]:
def get_actor3(x):
    casts = []
    for i in x:
        casts.append(i.get('name'))
    if casts == [] or len(casts)<=2:
        return np.NaN
    else:
        return (casts[2])

In [70]:
movies['actor_3_name'] = movies['cast'].map(lambda x: get_actor3(x))

In [71]:
movies.head()

,genres,id,title,year,cast,crew,director,actors,actor_1_name,actor_2_name,actor_3_name
0,"[Adventure, Action, Fantasy, Comedy]",166426,Pirates of the Caribbean: Dead Men Tell No Tales,2017.0,"[{'cast_id': 1, 'character': 'Captain Jack Spa...","[{'credit_id': '52fe4c9cc3a36847f8236a65', 'de...",[Joachim Rønning],"[Johnny Depp, Javier Bardem, Geoffrey Rush]",Johnny Depp,Javier Bardem,Geoffrey Rush
1,"[Action, Adventure, Fantasy, Science Fiction]",141052,Justice League,2017.0,"[{'cast_id': 2, 'character': 'Bruce Wayne / Ba...","[{'credit_id': '55ef66dbc3a3686f1700a52d', 'de...",[Zack Snyder],"[Ben Affleck, Henry Cavill, Gal Gadot]",Ben Affleck,Henry Cavill,Gal Gadot
2,"[Action, Adventure, Fantasy, Science Fiction]",284053,Thor: Ragnarok,2017.0,"[{'cast_id': 0, 'character': 'Thor Odinson', '...","[{'credit_id': '56a93fa4c3a36872db001e7a', 'de...",[Taika Waititi],"[Chris Hemsworth, Tom Hiddleston, Cate Blanchett]",Chris Hemsworth,Tom Hiddleston,Cate Blanchett
3,"[Action, Adventure, Comedy, Science Fiction]",283995,Guardians of the Galaxy Vol. 2,2017.0,"[{'cast_id': 3, 'character': 'Peter Quill / St...","[{'credit_id': '59171547925141583c0315a6', 'de...",[James Gunn],"[Chris Pratt, Zoe Saldana, Dave Bautista]",Chris Pratt,Zoe Saldana,Dave Bautista
4,"[Fantasy, Action, Adventure]",245842,The King's Daughter,2017.0,"[{'cast_id': 0, 'character': 'King Louis XIV',...","[{'credit_id': '5431de49c3a36825d300007e', 'de...",[Sean McNamara],"[Pierce Brosnan, William Hurt, Benjamin Walker]",Pierce Brosnan,William Hurt,Benjamin Walker

In [72]:
movie = movies.loc[:,['director','actor_1_name','actor_2_name','actor_3_name','genres','title']]

In [73]:
movie.rename(columns={'director':'director_name','title':'movie_title','keywords':'plot_keywords'},inplace=True)

In [74]:
movie.isnull().sum()

director_name     0
actor_1_name     22
actor_2_name     55
actor_3_name     70
genres            0
movie_title       0
dtype: int64

In [75]:
movie = movie.dropna(how='any')

In [76]:
movie

,director_name,actor_1_name,actor_2_name,actor_3_name,genres,movie_title
0,[Joachim Rønning],Johnny Depp,Javier Bardem,Geoffrey Rush,"[Adventure, Action, Fantasy, Comedy]",Pirates of the Caribbean: Dead Men Tell No Tales
1,[Zack Snyder],Ben Affleck,Henry Cavill,Gal Gadot,"[Action, Adventure, Fantasy, Science Fiction]",Justice League
2,[Taika Waititi],Chris Hemsworth,Tom Hiddleston,Cate Blanchett,"[Action, Adventure, Fantasy, Science Fiction]",Thor: Ragnarok
3,[James Gunn],Chris Pratt,Zoe Saldana,Dave Bautista,"[Action, Adventure, Comedy, Science Fiction]",Guardians of the Galaxy Vol. 2
4,[Sean McNamara],Pierce Brosnan,William Hurt,Benjamin Walker,"[Fantasy, Action, Adventure]",The King's Daughter
...,...,...,...,...,...,...
524,[Jim Strouse],Jessica Williams,Chris O'Dowd,Keith Stanfield,"[Romance, Comedy]",The Incredible Jessica James
525,[Farhad Mann],Adelaide Kane,Benjamin Hollingsworth,Jean Louisa Kelly,[Romance],Can't Buy My Love
526,[Hannaleena Hauru],Inka Haapamäki,Rosa Honkonen,Tiitus Rantala,"[Romance, Comedy]",Thick Lashes of Lauri Mäntyvaara
527,[Jonathan A. Rosenbaum],Lou Diamond Phillips,Wallace Shawn,Gina Holden,"[Crime, Comedy, Action, Family]",Cop and a Half: New Recruit
529,[Ravi Udyawar],Sridevi Kapoor,Sajal Ali,Akshaye Khanna,"[Crime, Drama, Thriller]",Mom

In [77]:
movie['director_name']=movie['director_name'].apply(listToString)
movie['genres']=movie['genres'].apply(listToString)

In [78]:
movie.head()

,director_name,actor_1_name,actor_2_name,actor_3_name,genres,movie_title
0,Joachim Rønning,Johnny Depp,Javier Bardem,Geoffrey Rush,"Adventure,Action,Fantasy,Comedy",Pirates of the Caribbean: Dead Men Tell No Tales
1,Zack Snyder,Ben Affleck,Henry Cavill,Gal Gadot,"Action,Adventure,Fantasy,Science Fiction",Justice League
2,Taika Waititi,Chris Hemsworth,Tom Hiddleston,Cate Blanchett,"Action,Adventure,Fantasy,Science Fiction",Thor: Ragnarok
3,James Gunn,Chris Pratt,Zoe Saldana,Dave Bautista,"Action,Adventure,Comedy,Science Fiction",Guardians of the Galaxy Vol. 2
4,Sean McNamara,Pierce Brosnan,William Hurt,Benjamin Walker,"Fantasy,Action,Adventure",The King's Daughter

In [79]:
movie['comb'] = movie['actor_1_name'] + ' ' + movie['actor_2_name'] + ' '+ movie['actor_3_name'] + ' '+ movie['director_name'] +' ' + movie['genres']

In [80]:
df.columns

Index(['director_name', 'imdb_score', 'movie_title', 'title_year', 'genres',
       'actor_1_name', 'actor_2_name', 'actor_3_name', 'plot_keywords',
       'comb'],
      dtype='object')

In [81]:
df = df[['director_name', 'actor_1_name', 'actor_2_name', 'actor_3_name',
    'genres', 'movie_title', 'comb']]

In [82]:
movie = movie[['director_name', 'actor_1_name', 'actor_2_name', 'actor_3_name',
    'genres', 'movie_title', 'comb']]

In [83]:
movie.head()

,director_name,actor_1_name,actor_2_name,actor_3_name,genres,movie_title,comb
0,Joachim Rønning,Johnny Depp,Javier Bardem,Geoffrey Rush,"Adventure,Action,Fantasy,Comedy",Pirates of the Caribbean: Dead Men Tell No Tales,Johnny Depp Javier Bardem Geoffrey Rush Joachi...
1,Zack Snyder,Ben Affleck,Henry Cavill,Gal Gadot,"Action,Adventure,Fantasy,Science Fiction",Justice League,Ben Affleck Henry Cavill Gal Gadot Zack Snyder...
2,Taika Waititi,Chris Hemsworth,Tom Hiddleston,Cate Blanchett,"Action,Adventure,Fantasy,Science Fiction",Thor: Ragnarok,Chris Hemsworth Tom Hiddleston Cate Blanchett ...
3,James Gunn,Chris Pratt,Zoe Saldana,Dave Bautista,"Action,Adventure,Comedy,Science Fiction",Guardians of the Galaxy Vol. 2,Chris Pratt Zoe Saldana Dave Bautista James Gu...
4,Sean McNamara,Pierce Brosnan,William Hurt,Benjamin Walker,"Fantasy,Action,Adventure",The King's Daughter,Pierce Brosnan William Hurt Benjamin Walker Se...

In [84]:
actor_1_name = []
for i in movie['actor_1_name']:
    actor_1_name.append(i.replace(" ",""))

In [85]:
actor_2_name = []
for i in movie['actor_2_name']:
    actor_2_name.append(i.replace(" ",""))

In [86]:
actor_3_name = []
for i in movie['actor_3_name']:
    actor_3_name.append(i.replace(" ",""))

In [87]:
director_name = []
for i in movie['director_name']:
    director_name.append(i.replace(" ",""))

In [88]:
movie['director_name'] = director_name
movie['actor_1_name'] = actor_1_name
movie['actor_2_name'] = actor_2_name
movie['actor_3_name'] = actor_3_name

In [89]:
movie['genres']= movie['genres'].str.lower()

In [90]:
movie.duplicated().sum()

0

In [91]:
movie.drop_duplicates(subset ="movie_title", keep = 'last', inplace = True)

In [92]:
movie.isnull().sum()

director_name    0
actor_1_name     0
actor_2_name     0
actor_3_name     0
genres           0
movie_title      0
comb             0
dtype: int64

In [93]:
movie.head()

,director_name,actor_1_name,actor_2_name,actor_3_name,genres,movie_title,comb
0,JoachimRønning,JohnnyDepp,JavierBardem,GeoffreyRush,"adventure,action,fantasy,comedy",Pirates of the Caribbean: Dead Men Tell No Tales,Johnny Depp Javier Bardem Geoffrey Rush Joachi...
1,ZackSnyder,BenAffleck,HenryCavill,GalGadot,"action,adventure,fantasy,science fiction",Justice League,Ben Affleck Henry Cavill Gal Gadot Zack Snyder...
2,TaikaWaititi,ChrisHemsworth,TomHiddleston,CateBlanchett,"action,adventure,fantasy,science fiction",Thor: Ragnarok,Chris Hemsworth Tom Hiddleston Cate Blanchett ...
3,JamesGunn,ChrisPratt,ZoeSaldana,DaveBautista,"action,adventure,comedy,science fiction",Guardians of the Galaxy Vol. 2,Chris Pratt Zoe Saldana Dave Bautista James Gu...
4,SeanMcNamara,PierceBrosnan,WilliamHurt,BenjaminWalker,"fantasy,action,adventure",The King's Daughter,Pierce Brosnan William Hurt Benjamin Walker Se...

In [95]:
movie.to_csv('final_data.csv',index=False)