In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv('movies_data.csv')

In [3]:
df['movie_title'][4]

"The King's Daughter"

In [4]:
df.head()

,director_name,actor_1_name,actor_2_name,actor_3_name,genres,movie_title,comb
0,JoachimRønning,JohnnyDepp,JavierBardem,GeoffreyRush,"adventure,action,fantasy,comedy",Pirates of the Caribbean: Dead Men Tell No Tales,Johnny Depp Javier Bardem Geoffrey Rush Joachi...
1,ZackSnyder,BenAffleck,HenryCavill,GalGadot,"action,adventure,fantasy,science fiction",Justice League,Ben Affleck Henry Cavill Gal Gadot Zack Snyder...
2,TaikaWaititi,ChrisHemsworth,TomHiddleston,CateBlanchett,"action,adventure,fantasy,science fiction",Thor: Ragnarok,Chris Hemsworth Tom Hiddleston Cate Blanchett ...
3,JamesGunn,ChrisPratt,ZoeSaldana,DaveBautista,"action,adventure,comedy,science fiction",Guardians of the Galaxy Vol. 2,Chris Pratt Zoe Saldana Dave Bautista James Gu...
4,SeanMcNamara,PierceBrosnan,WilliamHurt,BenjaminWalker,"fantasy,action,adventure",The King's Daughter,Pierce Brosnan William Hurt Benjamin Walker Se...

In [5]:
import nltk
from nltk.stem import PorterStemmer

In [6]:
ps = PorterStemmer()
def stem(text):
    y=[]
    for i in text.split():
        y.append(ps.stem(i))
    return " ".join(y)

In [7]:
df['comb'] = df['comb'].apply(stem)

In [8]:
from sklearn.feature_extraction.text import CountVectorizer

In [9]:
cv = CountVectorizer(max_features=5000,stop_words='english')

In [10]:
vectors = cv.fit_transform(df['comb']).toarray()

In [11]:
vectors[0]

array([0, 0, 0, ..., 0, 0, 0], dtype=int64)

In [12]:
from sklearn.metrics.pairwise import cosine_similarity

In [13]:
similarity = cosine_similarity(vectors)

In [14]:
similarity[1]

array([0.24019223, 1.        , 0.38461538, ..., 0.        , 0.        ,
       0.        ])

In [15]:
def recommend(movie):
    movie_index = df[df['movie_title']==movie].index[0]
    distances = similarity[movie_index]
    movie_list = sorted(list(enumerate(distances)),reverse=True,key=lambda x:x[1])[1:6]
    
    for i in movie_list:
        print(df.iloc[i[0]].movie_title)
        #print(i)

In [20]:
recommend("Thor: Ragnarok")

Justice League
Guardians of the Galaxy Vol. 2
The Dark Tower
Guardians
Kong: Skull Island

In [21]:
import pickle
pickle.dump(df.to_dict(),open('movies_dict.pkl','wb'))

In [22]:
 pickle.dump(similarity,open('similarity.pkl','wb'))

In [23]:
df.head()

,director_name,actor_1_name,actor_2_name,actor_3_name,genres,movie_title,comb
0,JoachimRønning,JohnnyDepp,JavierBardem,GeoffreyRush,"adventure,action,fantasy,comedy",Pirates of the Caribbean: Dead Men Tell No Tales,johnni depp javier bardem geoffrey rush joachi...
1,ZackSnyder,BenAffleck,HenryCavill,GalGadot,"action,adventure,fantasy,science fiction",Justice League,ben affleck henri cavil gal gadot zack snyder ...
2,TaikaWaititi,ChrisHemsworth,TomHiddleston,CateBlanchett,"action,adventure,fantasy,science fiction",Thor: Ragnarok,chri hemsworth tom hiddleston cate blanchett t...
3,JamesGunn,ChrisPratt,ZoeSaldana,DaveBautista,"action,adventure,comedy,science fiction",Guardians of the Galaxy Vol. 2,chri pratt zoe saldana dave bautista jame gunn...
4,SeanMcNamara,PierceBrosnan,WilliamHurt,BenjaminWalker,"fantasy,action,adventure",The King's Daughter,pierc brosnan william hurt benjamin walker sea...